* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #ECB365;
}

html {
    font-size: 16px;
    font-family: 'Roboto';
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    white-space: nowrap;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px black;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    width: 70%;
    height: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    margin-top: 5rem;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background-color: black;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    flex-grow: 1;
    padding: 0.4rem 0;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: beige;
}

nav a:hover {
    background-color: #ECB365;
    color: #041C32;
}

/* ABOUT */

#about-me {
    margin-top: 4rem;
    background-color: #041C32;
}

#about-me .container {
    flex-direction: column;
}

.about-profile {
    display: flex;
    margin-top: 5rem;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text p {
    line-height: 3rem;
    text-align: justify;
    padding: 1rem;
    text-shadow: 2px 2px 5px black;
}

.about-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5rem 0;
}

.about-buttons a {
    flex-basis: 33%;
    margin: 0 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #ECB365;
    color: #041C32;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.about-buttons a:nth-child(3) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.about-buttons a:last-child {
    display: none;
}

/* PROYECTS */

#proyects {
    background-color: #064663;
}

#proyects .container {
    flex-direction: column;
} 

.proyects-cards {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
}

.proyects-cards article {
    border: 2px solid #064663;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    background-color: #041C32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.card-title {
    width: 100%;
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)
    ),
    url(portfolio-img.png);
    background-size: cover;
    background-position: center center;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.proyects-cards article p {
    padding: 2rem 0;
    text-align: center;
}

.proyects-cards article a {
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* CONTACT */

#contact {
    background-color: #041C32;
}

#contact .container {
    flex-direction: column;
}

form {
    margin: 5rem 0;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    width: 100%;
}

.email, .issue {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.form-text {
    width: 100%;
    margin-bottom: 2.5rem;
}

form label {
    font-size: 2rem;
    padding-left: 0.1rem;
}

form input, form textarea {
    width: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    margin-top: 0.3rem;
    color: #041C32;
    background-color: beige;
}

.form-text textarea {
    height: 10rem;
}

form button {
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    background-color: #ECB365;
    color: #041C32;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-style: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}

/* FOOTER */

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

footer .container {
    flex-direction: column;
    margin: 1rem 0;
}

footer ul { 
    display: flex;
    list-style: none;
}

footer ul li a{ 
    text-decoration: none;
    padding: 0 1rem;
    color: beige;
}

.email-address {
    display: flex;
    margin-top: 1rem;
}

.email-footer, .email-address address {
    padding: 0 2rem;
    color: beige;
}

/*
min: desde npx
max: hasta npx
*/
@media (max-width: 800px) {

    html {
        font-size: 14px;
    }

    .container {
        width: 75%;
    }

    .about-img {
        display: none;
    }
}

@media (max-width: 767px) {

    .container {
        width: 80%;
    }

    .about-buttons a:nth-child(3) {
        display: none;
    }
    
    .about-buttons a:last-child {
        display: initial;
    }

    form {
        width: 95%;
    }
}

@media (max-width: 650px) {

    .email-address {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        white-space: initial;
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    button {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {

    html {
        font-size: 12px;
    }

    .container {
        width: 90%;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    button {
        font-size: 1rem;
    }
}

@media (max-width: 390px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.75rem;
    }
}

@media (max-width: 320px) {

    .container {
        width: 95%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
    }

    header {
        height: 3rem;
    }

    header nav a {
        font-size: 1.25rem;
    }

    #about-me {
        margin-top: 3rem;
    }

    .about-buttons {
        flex-direction: column;
        padding: 0;
        width: 75%;
    }

    .about-buttons button {
        margin: 0.8em 0;
    }
}

@media (max-width: 260px) {

    * {
        overflow-wrap: anywhere;
    }

    .container {
        overflow: hidden;
    }

    header nav a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    form button {
        max-width: 60%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    footer ul {
        flex-direction: column;
    }

    footer ul li {
        margin: 0.5rem 0;
    }

}





